<div class="compatibility-table-container {{tableId}}">
  <div class="compatibility-table-scroller">
    <table id="compatibility-table-{{tableId}}" class="compatibility-table {{tableId}}">
      <thead>
        <tr class="row-heading">
          <td class="row-service-string sticky-col">
            <span class="row-service-string-name">{{@root.serviceInRows}}</span>
            <br>
            <span>version</span>
          </td>
          {{#each columns as |colVersion index|}}
            <td class="col-version-string content-col-{{index}}">
              <span class="col-version-string-name">{{@root.serviceInColumns}}</span>
              <br>
              <span class="col-version-string-number">{{colVersion}}</span>
            </td>
          {{/each}}
          <td class="col-invisible"></td>
        </tr>
      </thead>
      <tbody>
        {{#each rows as |row|}}
          <tr class="row-version" data-version={{row.version}}>
            <td class="row-version-string sticky-col">
              <span class="row-version-string-number">{{row.version}}</span>
            </td>
            {{#each row.cells as |checked index|}}
              <td class="cell-check {{checked}} content-col-{{index}}"></td>
            {{/each}}
            <td class="col-invisible"></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
